@font-face {
    font-family: "ThinPixel7";
    src: url("../assets/ThinPixel7.woff2") format("woff2"),
         url("../assets/ThinPixel7.woff") format("woff");
}

:root {
    --pink: #F69696;
    --yellow: #EFD29E;
    --green: #AAE5D0;
    --blue: #BEEBF4;
    --dark: #322148;
    --light: #C8BCD8;
}

*:focus {
    outline: 2px solid var(--light);
}

body {
    background-color: var(--dark);
    font-family: "ThinPixel7";
}

/** Main styling **/ 
nav {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: var(--pink);
    font-size: 7em;
    line-height: 0.7em;
    margin: 24px 8px;
}

h2 {
    color: var(--yellow);
    font-size: 3em;
    line-height: 1em;
}

p, a {
    font-size: 2.5em;
    line-height: 0em;
}

a {
    color: var(--blue);
    text-decoration-color: transparent;
    text-decoration-thickness: 2px;
    margin: 40px 0px;
}

a:hover {
    text-decoration-color: var(--blue);
    transition: all 0.23s;
}

a:focus {
    outline: 0;
}

nav {
    color: var(--blue);
    padding: 0px 24px;
}

ul {
    padding: 0px;
}

li {
    color: var(--light);
    list-style-type: none;
}

.quiz-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
}

button {
    transition: all 200ms;
    font-family: "ThinPixel7";
    font-size: 2.5em;
    border-radius: 0px;
    background-color: transparent;
    margin: 16px 0px;
    padding: 0px 30px 6px 32px;
}

.primary-button {
    flex-basis: content;
    align-self: center;
    border: 2px solid var(--green);
    color: var(--green);
    width: 100%;
}

.primary-button:hover {
    background-color: var(--green);
    color: var(--dark);
    cursor: pointer;
}

.center {
    text-align: center;
}

/** Question styling **/ 
.answer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.quiz-question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.quiz-result {
    width: 30%;
    padding-left: 40px;
}

.fade {
    opacity: 0;
    transition: all 400ms;
}

.answer-button {
    border: 2px solid var(--light);
    color: var(--light);
    background-color: transparent;
    text-align:left;
    width: 100%;
}

.answer-button:hover {
    background-color: var(--light);
    color: var(--dark);
    cursor: pointer;
}

/** High score form styling **/
input[type=text] {
    padding: 0px 12px 4px 12px;
    border: 2px solid var(--light);
    font-family: inherit;
    font-size: 2.5em;
    margin-right: 16px;
}

.initials-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.initials-container h1 {
    margin-bottom: 8px;
}

.initials-container > h2 {
    margin: 0px 0px 16px 0px;
}

form h2 {
    margin: 16px 0px 8px 0px;
}

/* High score styling */
.score-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-container ul {
    display: flex;
    flex-direction: column-reverse;
}

.score-list-item {
    display: flex;
}

.score-list-item div {
    padding: 0px 8px;
}


.score-container h1 {
    text-align: center;
}

.hidden {
    display: none;
}

/** Media queries **/
@media screen and (min-width: 700px) {
    .primary-button {
        width: auto;
    }
    
    .answer-button {
        width: auto;
    }
}